@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto;
  background-color: #263238;

}

h1 {
  color: darkcyan;
  font-size: 32px !important;
  text-align: center;
  position: relative;
}

a:link {
  color:darkcyan;
  background-color: transparent;
  text-decoration: none;
  font-family: Roboto;
  position: relative;
  display: inline-grid;
  padding: 10px 25px;
  text-align: center;
  margin: 5px;
  width: 50px;

}
a:visited {
  color: darkcyan;
  background-color: transparent;
  text-decoration: none;
}

nav {
  position: relative;
  text-align: center;

}

input[type=text] {
  background-color: transparent;
  position: fixed;
  display: inline-block;
  border: none;
  color: white;
  outline: none ;
  text-align: left;
  width: 4%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  /*This is what i added*/
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid darkcyan;
}

input[type=text]:focus {
  border: none;
  border-bottom: 1px solid darkcyan;
  width: 50%;
  text-align: left;
  /*This is what i added*/
  left: 50%;
  transform: translateX(-50%);
  }
.clockbox {
  text-align: center;
}
